# Archivo .env - ¡NUNCA versionar este archivo!
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/

# Archivos de IDEs
.vscode/
.idea/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
