asgiref==3.9.1
crispy-bootstrap5==2025.6
Django==5.2.4
django-crispy-forms==2.4
django-extensions==4.1
django-tenants==3.8.0
psycopg==3.2.9
psycopg-binary==3.2.9
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
Faker==26.0.0
gunicorn==23.0.0
Pillow==10.4.0
python-decouple==3.8
dj-database-url==2.2.0
whitenoise==6.7.0
django-cors-headers==4.4.0
requests==2.32.3
pytz==2024.2
reportlab==4.2.5
openpyxl==3.1.5
