asgiref==3.9.1
crispy-bootstrap5==2025.6
Django==5.2.4
django-crispy-forms==2.4
django-extensions==4.1
django-tenants==3.8.0
psycopg==3.2.9
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
Faker==26.0.0
WeasyPrint==62.4
