{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if 'edit' in request.path %}Editar Paciente{% else %}Crear Paciente{% endif %}{% endblock %}

{% block content %}
    <h1>{% if 'edit' in request.path %}Editar Paciente{% else %}Crear Paciente{% endif %}</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'core:paciente_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}