<svg id="odontograma-svg" viewBox="0 0 850 400" xmlns="http://www.w.org/2000/svg">
    <style>
        .diente path { fill: #fff; stroke: #555; stroke-width: 0.8; transition: all 0.2s ease-in-out; }
        .diente:hover path { stroke: #007bff; stroke-width: 2; transform: scale(1.1); transform-origin: center; }
        .numero-diente { font-size: 11px; font-family: Arial, sans-serif; fill: #333; text-anchor: middle; pointer-events: none; font-weight: bold; }
    </style>
    
    <!-- Arcada Superior -->
    <g transform="translate(25, 0)">
        <!-- Cuadrante 1 -->
        <g id="diente-18" class="diente" transform="translate(0, 50)"><path d="M25,0 C45,0 45,30 25,30 L0,30 C0,0 5,0 25,0 Z"/><text class="numero-diente" x="12.5" y="50">18</text></g>
        <g id="diente-17" class="diente" transform="translate(50, 50)"><path d="M25,0 C45,0 45,30 25,30 L0,30 C0,0 5,0 25,0 Z"/><text class="numero-diente" x="12.5" y="50">17</text></g>
        <g id="diente-16" class="diente" transform="translate(100, 50)"><path d="M25,0 C45,0 45,30 25,30 L0,30 C0,0 5,0 25,0 Z"/><text class="numero-diente" x="12.5" y="50">16</text></g>
        <g id="diente-15" class="diente" transform="translate(150, 55)"><path d="M20,0 C35,0 35,25 20,25 L0,25 C0,0 5,0 20,0 Z"/><text class="numero-diente" x="10" y="40">15</text></g>
        <g id="diente-14" class="diente" transform="translate(190, 55)"><path d="M20,0 C35,0 35,25 20,25 L0,25 C0,0 5,0 20,0 Z"/><text class="numero-diente" x="10" y="40">14</text></g>
        <g id="diente-13" class="diente" transform="translate(230, 60)"><path d="M15,0 C25,0 25,20 15,20 L0,20 C0,0 5,0 15,0 Z"/><text class="numero-diente" x="7.5" y="35">13</text></g>
        <g id="diente-12" class="diente" transform="translate(265, 65)"><path d="M12,0 C22,0 22,18 12,18 L0,18 C0,0 2,0 12,0 Z"/><text class="numero-diente" x="6" y="33">12</text></g>
        <g id="diente-11" class="diente" transform="translate(295, 70)"><path d="M10,0 C20,0 20,15 10,15 L0,15 C0,0 0,0 10,0 Z"/><text class="numero-diente" x="5" y="30">11</text></g>
        
        <!-- Cuadrante 2 -->
        <g id="diente-21" class="diente" transform="translate(405, 70)"><path d="M10,0 C20,0 20,15 10,15 L0,15 C0,0 0,0 10,0 Z"/><text class="numero-diente" x="5" y="30">21</text></g>
        <g id="diente-22" class="diente" transform="translate(435, 65)"><path d="M12,0 C22,0 22,18 12,18 L0,18 C0,0 2,0 12,0 Z"/><text class="numero-diente" x="6" y="33">22</text></g>
        <g id="diente-23" class="diente" transform="translate(465, 60)"><path d="M15,0 C25,0 25,20 15,20 L0,20 C0,0 5,0 15,0 Z"/><text class="numero-diente" x="7.5" y="35">23</text></g>
        <g id="diente-24" class="diente" transform="translate(500, 55)"><path d="M20,0 C35,0 35,25 20,25 L0,25 C0,0 5,0 20,0 Z"/><text class="numero-diente" x="10" y="40">24</text></g>
        <g id="diente-25" class="diente" transform="translate(540, 55)"><path d="M20,0 C35,0 35,25 20,25 L0,25 C0,0 5,0 20,0 Z"/><text class="numero-diente" x="10" y="40">25</text></g>
        <g id="diente-26" class="diente" transform="translate(580, 50)"><path d="M25,0 C45,0 45,30 25,30 L0,30 C0,0 5,0 25,0 Z"/><text class="numero-diente" x="12.5" y="50">26</text></g>
        <g id="diente-27" class="diente" transform="translate(630, 50)"><path d="M25,0 C45,0 45,30 25,30 L0,30 C0,0 5,0 25,0 Z"/><text class="numero-diente" x="12.5" y="50">27</text></g>
        <g id="diente-28" class="diente" transform="translate(680, 50)"><path d="M25,0 C45,0 45,30 25,30 L0,30 C0,0 5,0 25,0 Z"/><text class="numero-diente" x="12.5" y="50">28</text></g>
    </g>

    <!-- Arcada Inferior -->
    <g transform="translate(25, 200)">
        <!-- Cuadrante 4 -->
        <g id="diente-48" class="diente" transform="translate(0, 50)"><path d="M25,30 C45,30 45,0 25,0 L0,0 C0,30 5,30 25,30 Z"/><text class="numero-diente" x="12.5" y="-10">48</text></g>
        <g id="diente-47" class="diente" transform="translate(50, 50)"><path d="M25,30 C45,30 45,0 25,0 L0,0 C0,30 5,30 25,30 Z"/><text class="numero-diente" x="12.5" y="-10">47</text></g>
        <g id="diente-46" class="diente" transform="translate(100, 50)"><path d="M25,30 C45,30 45,0 25,0 L0,0 C0,30 5,30 25,30 Z"/><text class="numero-diente" x="12.5" y="-10">46</text></g>
        <g id="diente-45" class="diente" transform="translate(150, 45)"><path d="M20,25 C35,25 35,0 20,0 L0,0 C0,25 5,25 20,25 Z"/><text class="numero-diente" x="10" y="-5">45</text></g>
        <g id="diente-44" class="diente" transform="translate(190, 45)"><path d="M20,25 C35,25 35,0 20,0 L0,0 C0,25 5,25 20,25 Z"/><text class="numero-diente" x="10" y="-5">44</text></g>
        <g id="diente-43" class="diente" transform="translate(230, 40)"><path d="M15,20 C25,20 25,0 15,0 L0,0 C0,20 5,20 15,20 Z"/><text class="numero-diente" x="7.5" y="-5">43</text></g>
        <g id="diente-42" class="diente" transform="translate(265, 35)"><path d="M12,18 C22,18 22,0 12,0 L0,0 C0,18 2,18 12,18 Z"/><text class="numero-diente" x="6" y="-3">42</text></g>
        <g id="diente-41" class="diente" transform="translate(295, 30)"><path d="M10,15 C20,15 20,0 10,0 L0,0 C0,15 0,15 10,15 Z"/><text class="numero-diente" x="5" y="-3">41</text></g>

        <!-- Cuadrante 3 -->
        <g id="diente-31" class="diente" transform="translate(405, 30)"><path d="M10,15 C20,15 20,0 10,0 L0,0 C0,15 0,15 10,15 Z"/><text class="numero-diente" x="5" y="-3">31</text></g>
        <g id="diente-32" class="diente" transform="translate(435, 35)"><path d="M12,18 C22,18 22,0 12,0 L0,0 C0,18 2,18 12,18 Z"/><text class="numero-diente" x="6" y="-3">32</text></g>
        <g id="diente-33" class="diente" transform="translate(465, 40)"><path d="M15,20 C25,20 25,0 15,0 L0,0 C0,20 5,20 15,20 Z"/><text class="numero-diente" x="7.5" y="-5">33</text></g>
        <g id="diente-34" class="diente" transform="translate(500, 45)"><path d="M20,25 C35,25 35,0 20,0 L0,0 C0,25 5,25 20,25 Z"/><text class="numero-diente" x="10" y="-5">34</text></g>
        <g id="diente-35" class="diente" transform="translate(540, 45)"><path d="M20,25 C35,25 35,0 20,0 L0,0 C0,25 5,25 20,25 Z"/><text class="numero-diente" x="10" y="-5">35</text></g>
        <g id="diente-36" class="diente" transform="translate(580, 50)"><path d="M25,30 C45,30 45,0 25,0 L0,0 C0,30 5,30 25,30 Z"/><text class="numero-diente" x="12.5" y="-10">36</text></g>
        <g id="diente-37" class="diente" transform="translate(630, 50)"><path d="M25,30 C45,30 45,0 25,0 L0,0 C0,30 5,30 25,30 Z"/><text class="numero-diente" x="12.5" y="-10">37</text></g>
        <g id="diente-38" class="diente" transform="translate(680, 50)"><path d="M25,30 C45,30 45,0 25,0 L0,0 C0,30 5,30 25,30 Z"/><text class="numero-diente" x="12.5" y="-10">38</text></g>
    </g>
</svg>